In [21]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sklearn.metrics import pairwise_distances

**Database connection**

In [22]:
db_username = 'postgres'
db_password = 'root'
db_host = 'localhost'
db_port = '5432'
db_name = 'week2'

connection_string = f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(connection_string)

data = pd.read_sql("SELECT * FROM xdr_data", engine)
data.head(2)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0

**Handle Missing Values**

In [23]:
numeric_data = data.select_dtypes(exclude='object')
data[numeric_data.columns] = numeric_data.fillna(numeric_data.mean())

# Fill missing values in categorical columns with the mode
cat_data = data.select_dtypes(exclude='number')
data[cat_data.columns] = cat_data.fillna(cat_data.mode().iloc[0])

**Task 4.1: Assign Engagement and Experience Scores**

In [24]:
# Define cluster centers (example values; replace with your actual centers)
engagement_cluster_centers = np.array([[0.2, 0.5], [0.9, 0.8]])
experience_cluster_centers = np.array([[0.3, 0.4], [0.7, 0.9]])

# Calculate engagement score (distance to the less engaged cluster)
data['engagement_score'] = pairwise_distances(data[['Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)']],
                                               engagement_cluster_centers[0:1]).flatten()

# Calculate experience score (distance to the worst experience cluster)
data['experience_score'] = pairwise_distances(data[['Avg RTT DL (ms)', 'Avg RTT UL (ms)']],
                                               experience_cluster_centers[1:2]).flatten()
data['experience_score']

0          41.503012
1          64.430583
2         110.376027
3         110.376027
4         110.376027
             ...
149996     31.312937
149997     26.322994
149998     42.606338
149999     36.530809
150000    110.376027
Name: experience_score, Length: 150001, dtype: float64

**Task 4.2: Calculate Satisfaction Score and Report Top 10 Customers**

In [25]:
# Calculate satisfaction score
data['satisfaction_score'] = (data['engagement_score'] + data['experience_score']) / 2

# Report the top 10 satisfied customers
top_10_satisfied = data.nlargest(10, 'satisfaction_score')
top_10_satisfied[['MSISDN/Number', 'satisfaction_score']].head(10)

        MSISDN/Number  satisfaction_score
120890   3.366117e+10       189128.178941
143670   3.367251e+10       149685.449148
141262   3.369817e+10       149670.505724
149617   3.365169e+10       138037.740877
92193    3.366856e+10       134744.030492
117791   3.376869e+10       133196.650372
115850   3.366843e+10       132779.035301
89577    3.366268e+10       132238.210047
116565   3.366549e+10       131670.158664
41576    3.378686e+10       127154.381859

**Task 4.3: Build a Regression Model**

In [26]:
from sklearn.linear_model import LinearRegression

# Prepare data for regression
X = data[['engagement_score', 'experience_score']]
y = data['satisfaction_score']

# Create and fit the regression model
model = LinearRegression()
model.fit(X, y)

# Print model coefficients
print("Coefficients:", model.coef_)

Coefficients: [0.5 0.5]

**Task 4.4: Run K-Means on Engagement and Experience Scores**

In [27]:
from sklearn.cluster import KMeans

# Run k-means clustering (k=2)
kmeans = KMeans(n_clusters=2)
data['cluster'] = kmeans.fit_predict(data[['engagement_score', 'experience_score']])

**Task 4.5: Aggregate Average Scores per Cluster**

In [28]:
# Aggregate average satisfaction and experience score per cluster
cluster_summary = data.groupby('cluster').agg({
    'satisfaction_score': 'mean',
    'experience_score': 'mean'
}).reset_index()

print(cluster_summary)

   cluster  satisfaction_score  experience_score
0        0         1959.693096        122.002436
1        1        28116.220601         87.522787

**Task 4.6: Export to MySQL Database**

In [29]:
from sqlalchemy import create_engine, text
import pandas as pd

# Database connection details
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/week2')

# Insert data into the table
insert_query = text('''
INSERT INTO user_scores (user_id, engagement_score, experience_score, satisfaction_score, cluster)
VALUES (:user_id, :engagement_score, :experience_score, :satisfaction_score, :cluster)
ON CONFLICT (user_id) DO UPDATE SET
    engagement_score = EXCLUDED.engagement_score,
    experience_score = EXCLUDED.experience_score,
    satisfaction_score = EXCLUDED.satisfaction_score,
    cluster = EXCLUDED.cluster;
''')

# Using a connection to execute the insert
with engine.connect() as connection:
    for index, row in data.iterrows():
        try:
            connection.execute(insert_query, {
                'user_id': row['MSISDN/Number'],
                'engagement_score': row['engagement_score'],
                'experience_score': row['experience_score'],
                'satisfaction_score': row['satisfaction_score'],
                'cluster': row['cluster']
            })
        except Exception as e:
            print(f"Error inserting record {row['MSISDN/Number']}: {e}")

# Fetch and print the records from the table
with engine.connect() as connection:
    result = connection.execute(text('SELECT * FROM user_scores'))
    for record in result:
        print(record)