In [4]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

Database Connection

In [9]:
db_username = 'postgres'
db_password = 'root'
db_host = 'localhost'
db_port = '5432'
db_name = 'week2'

connection_string = f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(connection_string)

data = pd.read_sql("SELECT * FROM xdr_data", engine)
data.head(2)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0

In [10]:
data.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

Task 1 - User Overview Analysis

In [18]:
top_handsets = data['Handset Type'].value_counts().head(10)

# printout  top 10 manufacturers
print("Top 10 Handsets Used by Customers:")
print(top_handsets)

Top 10 Handsets Used by Customers:
Handset Type
Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
undefined                        8987
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Name: count, dtype: int64

Top 3 Handset Manufacturers

In [19]:
top_manufacturers = data['Handset Manufacturer'].value_counts().head(3)

# printout top 3 manufacturers
print("\nTop 3 Handset Manufacturers:")
print(top_manufacturers)

Top 3 Handset Manufacturers:
Handset Manufacturer
Apple      59565
Samsung    40839
Huawei     34423
Name: count, dtype: int64

In [31]:
top_manufacturers = data['Handset Manufacturer'].value_counts().head(3)
top_manufacturer_names = list(top_manufacturers.index)
top_manufacturer_names

top_handsets_per_manufacturer = {}

for manufacturer in top_manufacturer_names:
    top_handsets_per_manufacturer[manufacturer] = data[data['Handset Manufacturer'] == manufacturer]['Handset Type'].value_counts().head(5)

# printout the results
print("\nTop 5 Handsets per Top 3 Manufacturers:")
for manufacturer, handsets in top_handsets_per_manufacturer.items():
    print(f"{manufacturer}:")
    print(handsets)

Top 5 Handsets per Top 3 Manufacturers:
Apple:
Handset Type
Apple iPhone 6S (A1688)    9419
Apple iPhone 6 (A1586)     9023
Apple iPhone 7 (A1778)     6326
Apple iPhone Se (A1723)    5187
Apple iPhone 8 (A1905)     4993
Name: count, dtype: int64
Samsung:
Handset Type
Samsung Galaxy S8 (Sm-G950F)    4520
Samsung Galaxy A5 Sm-A520F      3724
Samsung Galaxy J5 (Sm-J530)     3696
Samsung Galaxy J3 (Sm-J330)     3484
Samsung Galaxy S7 (Sm-G930X)    3199
Name: count, dtype: int64
Huawei:
Handset Type
Huawei B528S-23A                  19752
Huawei E5180                       2079
Huawei P20 Lite Huawei Nova 3E     2021
Huawei P20                         1480
Huawei Y6 2018                      997
Name: count, dtype: int64

1. Interpretation


The analysis reveals that Appleâ€™s top-selling handsets, particularly the iPhone 6S and iPhone 6, indicate strong demand for older models, suggesting consumer preference for affordability within the brand. Samsungâ€™s Galaxy S8 and the popular J series highlight a successful balance between premium and budget-friendly options, while Huaweiâ€™s B528S-23A stands out with exceptional sales, pointing to a niche market for specific use cases like home internet.

2. Recommendations

To capitalize on these insights, Apple should focus marketing on refurbished and older models to attract cost-conscious consumers. Samsung should emphasize the features of the Galaxy S8 and J series in marketing and consider bundling offers. For Huawei, increasing visibility for the B528S in targeted campaigns can enhance its market presence. Additionally, maintaining higher inventory levels for these popular models and implementing loyalty programs can strengthen customer engagement and drive repeat sales.

Task 1.1

In [34]:
user_overview = data.groupby('user_id').agg(
    number_of_sessions=('session_id', 'count'),
    total_session_duration=('session_duration', 'sum'),
    total_download_data=('download_data', 'sum'),
    total_upload_data=('upload_data', 'sum'),
    total_data_volume=('data_volume', 'sum')
).reset_index()

# printout the aggregated overview
print(user_overview)

KeyError: 'user_id'